<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="top"></div>
    <h1 class="title">Productos en Tiempo Real</h1>
    <h2 class="sub-title">Lista de Productos</h2>
    <div class="lista-productos" id="listaProductos">

    </div>

    <form class="product-form">
      <label for="form-title" class="form-label">Título</label>
      <input type="text" id="form-title" class="form-input" />

      <label for="form-select" class="form-label">Estado</label>
      <select id="form-select" class="form-select">
        <option value="true">Verdadero</option>
        <option value="false">Falso</option>
      </select>

      <label for="form-category" class="form-label">Categoría</label>
      <input type="text" id="form-category" class="form-input" />

      <label for="form-description" class="form-label">Descripción</label>
      <input type="text" id="form-description" class="form-input" />

      <label for="form-price" class="form-label">Precio</label>
      <input type="text" id="form-price" class="form-input" />

      <label for="form-thumbnail" class="form-label">Thumbnail</label>
      <input type="text" id="form-thumbnail" class="form-input" />

      <label for="form-code" class="form-label">Código</label>
      <input type="text" id="form-code" class="form-input" />

      <label for="form-stock" class="form-label">Stock</label>
      <input type="number" id="form-stock" class="form-input" />

      <button id="submit-button" class="form-button">Enviar</button>
    </form>

  </body>
</html>