/* Estilos para el cuerpo y el encabezado */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

/* Estilos para los contenedores de tarjetas y paginación */
.contenedorCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Estilos para las tarjetas de productos */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 250px;
  background-color: #f9f9f9;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 10px 0;
}

.card button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #45a049;
}

/* Estilos para los enlaces de paginación */
.pagination a {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

.pagination a:hover {
  text-decoration: underline;
}
